<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title></title>
<script type="text/javascript" th:src="@{/js/admin/admin_site.js}"></script>

<style type="text/css">
	.profile{
		width: 70%;	
		vertical-align: middle;
		max-height: 80%;	
	}
	
	.selecter-wrap .jcf-unselectable {       
	    margin-bottom: 0px;
	}
	
	
	.searchBtn {
		display: inline-block;
	    line-height: 55px;
	    width: 90px;
	    text-align: center;
	    background-color: #444;
	    color: #ffff;
	    vertical-align: top;
	    border-radius: 4px;
	    height: 45px;
    	line-height: 45px;
    	margin-left: 10px;
    	cursor: pointer;
    	margin-right:10px;
	}
	
	.search-div {width:100%; display: inline-flex;}
	.search-div input {display: inline-block; width: 100%;}	
	
	
</style>

</head>
<body>
<th:block layout:fragment="content">

	<!-- 검색 테이블 -->
	<div class="left-head-table custom02-table">
		<div class="tr">
			<div class="th">상태</div>
			<div class="td" style="border-right:0px; max-width:15%">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 7}' id="searchStatus" name="searchStatus" >
				   			<option value="all" th:selected="${cri.searchStatus == 'all'}">전체</option>													
							<option value="1" th:selected="${cri.searchStatus == '1'}">사용</option>
							<option value="0" th:selected="${cri.searchStatus == '0'}">중지</option>							
				   		</select>
					</div>	
				</div>
			</div>
		
			<div class="th">구분</div>
			<div class="td" style="border-right:0px; max-width:20%">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 7}' id="searchType" name="searchType" >
				   			<option value="all" th:selected="${cri.searchType == 'all'}">전체</option>													
							<option value="site_name" th:selected="${cri.searchType == 'site_name'}">업체명</option>
							<option value="site_code" th:selected="${cri.searchType == 'site_code'}">코드</option>
							<option value="site_ceo_phone" th:selected="${cri.searchType == 'site_ceo_phone'}">연락처</option>
							<option value="site_url" th:selected="${cri.searchType == 'site_url'}">도메인</option>							
				   		</select>
					</div>	
				</div>
			</div>	
			
			<div class="th">검색어</div>
			<div class="td" style="border-right:0px;">
				<div class="search-div">
					<input type="text" id="keyword" name="keyword" th:value="${cri.keyword}" autocomplete="off" style="width:60%;">
					<div class="searchBtn" onclick="search()">검색</div>
					
					<div class="selecter-wrap search-div" style="width:100px; float:right;">
						<select id="perPageNum" name="perPageNum" class="form-control" style="min-width:80px; width:80px; float:right;">
							<option value="10" th:selected="${cri.perPageNum eq 10}">10</option>
							<option value="50" th:selected="${cri.perPageNum == 50}">50</option>
							<option value="100" th:selected="${cri.perPageNum == 100}">100</option>						
						</select> 
					</div>
				</div>
				
				
			</div>		
			
				
		</div>		
	</div>



	
	<div class="table-wrap">
		<div class="table-item">
			<span class="total" th:text="'Total : ' +${siteCnt}"></span>
			<div class="btn-box">
				<button type="button" class="btn" th:onclick="insertBtn([[${cri}]])">등록</button>
			</div>								
		</div>
		
		<table class="result-table02">
			<colgroup>
				<col width="6%">
				<col width="10%">				
				<col width="*%">				
				<col width="12%">				
				<col width="10%">
				<col width="10%">								
				<col width="20%">
				<col width="8%">
			</colgroup>
			<thead>
				<tr>
					<th>NO</th>
					<th>코드</th>					
					<th>업체명</th>					
					<th>연락처</th>
					<th>담당자</th>
					<th>택배사</th>					
					<th>도메인</th>
					<th>상태</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:if="${siteCnt} == 0">
					<td colspan="8">There is no data.</td>
				</tr>
				<tr th:each="item : ${site}">
					<td th:text="${item.rownum}|"></td>
					<td th:text="${item.site_code}"></td>					
					<td><a th:href="@{site/detail(site_no=${item.site_no})}" th:text="${item.site_name}" class="link"></a></td>										
									
					<td th:text="${item.site_ceo_phone}"></td>					
					
					<td th:if="${#maps.containsKey(item, 'site_manager_name')}" th:text="${item.site_manager_name}"></td>
					<td th:unless="${#maps.containsKey(item, 'site_manager_name')}"></td>
					
					<td th:if="${#maps.containsKey(item, 'site_parcel')}" th:text="${item.site_parcel}"></td>
					<td th:unless="${#maps.containsKey(item, 'site_parcel')}"></td>
					
					<td th:if="${#maps.containsKey(item, 'site_url')}" th:text="${item.site_url}"></td>
					<td th:unless="${#maps.containsKey(item, 'site_url')}"></td>					
					
					<td th:text="${item.site_status} == 0 ? 중지 : 사용"></td>
					
				</tr>						
			</tbody>
		</table>
		
		
		<th:block th:if="${siteCnt > 0}">		
			<ul class="pagenate">
				<li class="move prev_enter" th:classappend="${pageMaker.cri.page} == 1 ? disabled">
					<a class="page-link" th:if="${pageMaker.cri.page} != 1" th:href="@{/admin/site(page=1, perPageNum=${cri.perPageNum}, searchStatus=${cri.searchStatus}, searchType=${cri.searchType}, keyword=${cri.keyword} )}"></a>
				</li>
				<li class="move prev" th:classappend="${pageMaker.prev} == false ? disabled">
					<a class="page-link" th:if="${pageMaker.prev} == true" th:href="@{/admin/site(page=${cri.page}-1, perPageNum=${cri.perPageNum}, searchStatus=${cri.searchStatus}, searchType=${cri.searchType}, keyword=${cri.keyword} )}">　</a>
				</li>
				
				<li class="page-item" th:each="idx : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" th:classappend="${cri.page} == ${idx} ? active">
					<a class="page-link" th:href="@{/admin/site(page=${idx}, perPageNum=${cri.perPageNum}, searchStatus=${cri.searchStatus}, searchType=${cri.searchType}, keyword=${cri.keyword} )}" th:text="${idx}"></a>
				</li>	
											 				
				<li class="move next" th:classappend="${pageMaker.next} == false ? disabled">										
					<a class="page-link" th:if="${pageMaker.next} == true" th:href="@{/admin/site(page=${cri.page}+1, perPageNum=${cri.perPageNum}, searchStatus=${cri.searchStatus}, searchType=${cri.searchType}, keyword=${cri.keyword} )}">　</a>														
				</li>				
				<li class="move next_enter" th:classappend="${pageMaker.lastPage} == ${pageMaker.cri.page} ? disabled">
					<a class="page-link" th:if="${pageMaker.lastPage} != ${cri.page}" th:href="@{/admin/site(page=${pageMaker.lastPage}, perPageNum=${cri.perPageNum}, searchStatus=${cri.searchStatus}, searchType=${cri.searchType}, keyword=${cri.keyword} )}">　</a>
				</li>
			</ul>
		</th:block>	
		
	</div>
	
	

</th:block>
</body>

</html>


