<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title></title>

<style type="text/css">
	.profile{
		width: 70%;	
		vertical-align: middle;
		max-height: 80%;	
	}
	
	.selecter-wrap .jcf-unselectable {       
	    margin-bottom: 0px;
	}
	
	.search-div {width:100%; display: inline-flex;}
	.search-div input {display: inline-block; width: 100%;}	
	
	table:not(.calendar-table) {
	    font-size: 14px;
	}
	
	th:not(.calendar-table th) {
	    font-size: 14px;
	}
	
	.chk {
		width:16px;
	}
	
	.searchBtn {
		margin-top: 2px;
	}
	
</style>

</head>
<body>
<th:block layout:fragment="content">

	<!-- 검색 테이블 -->
	<div class="left-head-table custom02-table" style="margin-bottom:7px;">
		<div class="tr">
			<div class="th">사이트</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchSite" name="searchSite">
				   			<option value="all" th:selected="${cri.searchSite == 'all'}">전체</option>
							<option th:each="siteList : ${siteList}" th:text="${siteList.site_name}" th:value="${siteList.site_no}" th:selected="${cri.searchSite} == ${siteList.site_no}"></option>
				   		</select>
					</div>	
				</div>
			</div>	
			
			<div class="th">구분</div>			
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 7}' id="searchType" name="searchType" >
				   			<option value="all" th:selected="${cri.searchType == 'all'}">전체</option>													
							<option value="student_name" th:selected="${cri.searchType == 'student_name'}">회원명</option>
							<option value="student_id" th:selected="${cri.searchType == 'student_id'}">회원아이디</option>							
							<option value="student_phone" th:selected="${cri.searchType == 'student_phone'}">회원연락처</option>
							<option value="teacher_id" th:selected="${cri.searchType == 'teacher_id'}">강사아이디</option>
							<option value="teacher_name" th:selected="${cri.searchType == 'teacher_name'}">강사명</option>													
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th">검색어</div>
			<div class="td" style="border-right:0px;">
				<div class="search-div">
					<input type="text" id="keyword" name="keyword" th:value="${cri.keyword}" autocomplete="off">
				</div>				
			</div>	
		</div>
		
		<div class="tr">
			<div class="th">언어</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchLanguage" name="searchLanguage" onchange="languageChange(this)">
				   			<option value="all" th:selected="${cri.searchLanguage == 'all'}">전체</option>
				   			<option value="English" th:selected="${cri.searchLanguage == 'English'}">English</option>
				   			<option value="Chinese" th:selected="${cri.searchLanguage == 'Chinese'}">Chinese</option>				   			
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th">교육과정</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchStudy" name="searchStudy" onchange="studyChange(this)">
				   			<option value="all" th:selected="${cri.searchStudy == 'all'}">전체</option>
				   			<option th:each="studyList : ${studyList}" th:text="${studyList.study_name}" th:value="${studyList.study_no}" th:selected="${cri.searchStudy} == ${studyList.study_no}"></option>
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th">학습교재</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchTextBook" name="searchTextBook" >
				   			<option value="all" th:selected="${cri.searchStudy == 'all'}">전체</option>
				   			<option th:each="textbookList : ${textbookList}" th:text="${textbookList.textbook_name}" th:value="${textbookList.textbook_no}" th:selected="${cri.searchTextBook} == ${textbookList.textbook_no}"></option>
				   		</select>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="tr">
			<div class="th">티칭센터</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchCenter" name="searchCenter" onchange="centerChange(this)">
				   			<option value="all" th:selected="${cri.searchCenter == 'all'}">전체</option>
							<option th:each="centerList : ${centerList}" th:text="${centerList.center_name}" th:value="${centerList.center_no}" th:selected="${cri.searchCenter} == ${centerList.center_no}"></option>
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th">선생님</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchTeacher" name="searchTeacher" >
				   			<option value="all" th:selected="${cri.searchTeacher == 'all'}">전체</option>
				   			<option th:each="teacherList : ${teacherList}" th:text="${teacherList.teacher_name}" th:value="${teacherList.user_teacher_no}" th:selected="${cri.searchTeacher} == ${teacherList.user_teacher_no}"></option>
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th">수업타입</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchClassType" name="searchClassType" >
				   			<option value="all" th:selected="${cri.searchClassType == 'all'}">전체</option>
				   			<option value="Phone" th:selected="${cri.searchClassType == 'Phone'}">Phone</option>
				   			<option value="Video" th:selected="${cri.searchClassType == 'Video'}">Video</option>
				   			<option value="VideoCall" th:selected="${cri.searchClassType == 'VideoCall'}">VideoCall</option>
				   			<option value="VR" th:selected="${cri.searchClassType == 'VR'}">VR</option>				   							   			
				   		</select>
					</div>	
				</div>
			</div>
		</div>
		
		<div class="tr">
			<div class="th">날짜</div>
			<div class="td">
				<div class="search-div">
					<div class="fx-box" style="width:100%;">
	                  <input type="" id="searchDate" name="searchDate" class="fx-item dateitem2" th:value="${cri.searchDate}" autocomplete="off">
	                </div>
				</div>				
			</div>			
			
			<div class="th">수업구분</div>
			<div class="td">
				<div class="selecter-wrap">				
					<div class="search-div">
						<select data-jcf='{"maxVisibleItems": 10}' id="searchClassCategory" name="searchClassCategory" >
				   			<option value="all" th:selected="${cri.searchClassCategory == 'all'}">전체</option>
				   			<option value="regular class" th:selected="${cri.searchClassCategory == 'regular class'}">regular class</option>
				   			<option value="level test" th:selected="${cri.searchClassCategory == 'level test'}">level test</option>				   			
				   		</select>
					</div>	
				</div>
			</div>
			
			<div class="th" style="background:0px; border-right:0px;"></div>
			<div class="td"></div>
		</div>
		
		<div class="tr">
			<div class="th">choosed</div>
			<div class="td">
				<div class="search-div" style="width:auto;">
					<div class="fx-box" style="width:273px;">
	                  <input type="" id="choosedDate" name="choosedDate" class="fx-item dateitem2" autocomplete="off" onchange="choosedDateChange(this)">
	                </div>
				</div>		
				
				<div class="searchBtn" style="background-color:rgb(239, 239, 239); color:black; margin-right: 5px;" onclick="changingBtn()">changing</div>
				<div class="searchBtn" style="background-color:rgb(239, 239, 239); color:black; margin-left: 0px;" onclick="cancelBtn()">cancel</div>		
			</div>			
			
			
			
			
		</div>
	</div>
	
	<div class ="btnDiv" style="width:100%; margin-bottom:80px;">
		<div class="searchBtn" style="background-color:rgb(239, 239, 239); color:black; float:right;" onclick="searchCancel()">검색취소</div>		
		<div class="searchBtn" onclick="search()" style="float:right; margin-right:0px;">검색</div>
		
		<!-- 현재 사용안함 -->
		<div class="selecter-wrap search-div" style="width:100px; float:right; display:none;">
			<select id="perPageNum" name="perPageNum" class="form-control" style="min-width:80px; width:80px; float:right;">
				<option value="10" th:selected="${cri.perPageNum eq 10}">10</option>
				<option value="50" th:selected="${cri.perPageNum == 50}">50</option>
				<option value="100" th:selected="${cri.perPageNum == 100}">100</option>						
			</select> 
		</div>			
	</div>
	
	

	  
	<div class="table-wrap">
		<div class="table-item">
			<span class="total" th:text="'Total : ' +${classDateCnt}"></span>
		</div>
		
		<table class="result-table02">
			<colgroup>
				<col width="3%">	<!-- chk -->
				<col width="5%">	<!-- NO -->
				<col width="9%">	<!-- time -->
				<col width="10%">	<!-- tutor -->
				<col width="8%">	<!-- 교육과정 -->
				
				<col width="6%">	<!-- class type -->	
				<col width="*%">	<!-- course -->
				<col width="9%">	<!-- student name -->
				<col width="9%">	<!-- student id -->			
				<col width="8%">	<!-- class phone -->
				
				<col width="10%">	<!-- 진도(book) -->
				<col width="10%">	<!-- 구분 -->
				
			</colgroup>
			<thead>
				<tr>
					<th style="padding:0px;"><input type="checkbox" class="chk allCheck" name="allCheck" /></th>
					<th>NO</th>
					<th style="min-width:92px;"><span style="cursor:pointer;" th:onclick="timeOrderBy([[${cri}]], 'desc')">▲</span> time <span style="cursor:pointer;" th:onclick="timeOrderBy([[${cri}]], 'asc')">▼</span></th>					
					<th>tutor</th>
					<th>교육과정</th>
					
					<th>class type</th>
					<th>course</th>
					<th>student name</th>
					<th>student id</th>
					<th>class phone</th>
					
					<th>진도(book)</th>
					<th>구분</th>										
				</tr>
			</thead>
			<tbody>
				<tr th:if="${classDateCnt} == 0">
					<td colspan="12">There is no data.</td>
				</tr>
				<tr th:each="item : ${list}">
					<td class="hiddenChk chkTh" style="padding:0px;"><input type="checkbox" class="chk rowCheck" th:name="|${item.room_no}|" th:checked="false" th:flag="${item.flag}" th:class_log_no="${item.class_log_no}" th:leveltest_no="${item.leveltest_no}"/></td>
					<td th:text="${item.rownum}"></td>
					<td th:if="${#maps.containsKey(item, 'start_time')}" th:text="|${item.start_time} ~ ${item.end_time}|"></td>
					<td th:unless="${#maps.containsKey(item, 'start_time')}"></td>
					<td th:text="${item.teacher_name}"></td>
					<td th:if="${#maps.containsKey(item, 'study_name')}" th:text="${item.study_name}"></td>
					<td th:unless="${#maps.containsKey(item, 'study_name')}"></td>	
									
					<td th:text="${item.class_category}"></td>					
					<td th:text="${item.product_name}"></td>					
					<td><a class="link" th:onclick="openUserDetail([[${item.user_student_no}]])" th:text="${item.student_name}"></a></td>
					<td th:text="${item.student_id}"></td>					
					<td th:text="${item.class_phone}"></td>				
					
					<td th:if="${#maps.containsKey(item, 'textbook_name')}" th:text="${item.textbook_name}"></td>
					<td th:unless="${#maps.containsKey(item, 'textbook_name')}"></td>		
					<td th:text="${item.day_type}"></td>
										
				</tr>						
			</tbody>
		</table>
		
		
		<th:block th:if="${classDateCnt > 0}">		
			<ul class="pagenate">
				<li class="move prev_enter" th:classappend="${pageMaker.cri.page} == 1 ? disabled">
					<a class="page-link" th:if="${pageMaker.cri.page} != 1" th:href="@{/admin/modifyClassDate(page=1, perPageNum=${cri.perPageNum}, searchType=${cri.searchType}, keyword=${cri.keyword}, searchSite=${cri.searchSite}, searchDate=${cri.searchDate}, searchClassType=${cri.searchClassType}, searchClassCategory=${cri.searchClassCategory}, searchLanguage=${cri.searchLanguage}, searchStudy=${cri.searchStudy}, searchTextBook=${cri.searchTextBook}, searchCenter=${cri.searchCenter}, searchTeacher=${cri.searchTeacher}, searchTimeOrderBy=${cri.searchTimeOrderBy} )}"></a>
				</li>
				<li class="move prev" th:classappend="${pageMaker.prev} == false ? disabled">
					<a class="page-link" th:if="${pageMaker.prev} == true" th:href="@{/admin/modifyClassDate(page=${cri.page}-1, perPageNum=${cri.perPageNum}, searchType=${cri.searchType}, keyword=${cri.keyword}, searchSite=${cri.searchSite}, searchDate=${cri.searchDate}, searchClassType=${cri.searchClassType}, searchClassCategory=${cri.searchClassCategory}, searchLanguage=${cri.searchLanguage}, searchStudy=${cri.searchStudy}, searchTextBook=${cri.searchTextBook}, searchCenter=${cri.searchCenter}, searchTeacher=${cri.searchTeacher}, searchTimeOrderBy=${cri.searchTimeOrderBy} )}">　</a>
				</li>
				
				<li class="page-item" th:each="idx : ${#numbers.sequence(pageMaker.startPage, pageMaker.endPage)}" th:classappend="${cri.page} == ${idx} ? active">
					<a class="page-link" th:href="@{/admin/modifyClassDate(page=${idx}, perPageNum=${cri.perPageNum}, searchType=${cri.searchType}, keyword=${cri.keyword}, searchSite=${cri.searchSite}, searchDate=${cri.searchDate}, searchClassType=${cri.searchClassType}, searchClassCategory=${cri.searchClassCategory}, searchLanguage=${cri.searchLanguage}, searchStudy=${cri.searchStudy}, searchTextBook=${cri.searchTextBook}, searchCenter=${cri.searchCenter}, searchTeacher=${cri.searchTeacher}, searchTimeOrderBy=${cri.searchTimeOrderBy} )}" th:text="${idx}"></a>
				</li>	
											 				
				<li class="move next" th:classappend="${pageMaker.next} == false ? disabled">										
					<a class="page-link" th:if="${pageMaker.next} == true" th:href="@{/admin/modifyClassDate(page=${cri.page}+1, perPageNum=${cri.perPageNum}, searchType=${cri.searchType}, keyword=${cri.keyword}, searchSite=${cri.searchSite}, searchDate=${cri.searchDate}, searchClassType=${cri.searchClassType}, searchClassCategory=${cri.searchClassCategory}, searchLanguage=${cri.searchLanguage}, searchStudy=${cri.searchStudy}, searchTextBook=${cri.searchTextBook}, searchCenter=${cri.searchCenter}, searchTeacher=${cri.searchTeacher}, searchTimeOrderBy=${cri.searchTimeOrderBy} )}">　</a>														
				</li>				
				<li class="move next_enter" th:classappend="${pageMaker.lastPage} == ${pageMaker.cri.page} ? disabled">
					<a class="page-link" th:if="${pageMaker.lastPage} != ${cri.page}" th:href="@{/admin/modifyClassDate(page=${pageMaker.lastPage}, perPageNum=${cri.perPageNum}, searchType=${cri.searchType}, keyword=${cri.keyword}, searchSite=${cri.searchSite}, searchDate=${cri.searchDate}, searchClassType=${cri.searchClassType}, searchClassCategory=${cri.searchClassCategory}, searchLanguage=${cri.searchLanguage}, searchStudy=${cri.searchStudy}, searchTextBook=${cri.searchTextBook}, searchCenter=${cri.searchCenter}, searchTeacher=${cri.searchTeacher}, searchTimeOrderBy=${cri.searchTimeOrderBy} )}">　</a>
				</li>
			</ul>
		</th:block>	


	</div>
	
	
<script th:inline="javascript">
	let cri = /*[[${cri}]]*/ null;
</script>	
<script type="text/javascript" th:src="@{/js/admin/admin_modifyClassDate.js}"></script>
</th:block>
</body>

</html>


